# System / IDE
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.DS_Store
.idea/
.idea

# Dependencies
node_modules
npm-debug.log
yarn-error.log
pnpm-lock.yaml

# Environment Variables
.env*

# Build outputs
.next
out
dist
build

# Git
.git
.gitignore

# Docker config (compose files)
docker-compose*.yml
Dockerfile
.dockerignore

# Logs
*.log

# Temporary files
*.tmp
*.swp
.cache
