# ======================
# Django / Python
# ======================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/

# Environment Variables
.env*

# Django Specific
db.sqlite3
media/
static/
staticfiles/
fixtures.json
