@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    body {
        @apply font-IRANYekanRegular;
    }

    /* ---------------- Add Font-Face ---------------- */
    /* IRANYekanX Fonts */
    @font-face {
        font-family: "IRANYekan-Light";
        src: url("/fonts/IRANYekanX/IRANYekanX-Light.woff2") format(woff2);
        font-display: swap;
    }

    @font-face {
        font-family: "IRANYekan-Regular";
        src: url("/fonts/IRANYekanX/IRANYekanX-Regular.woff2") format(woff2);
        font-display: swap;
    }

    @font-face {
        font-family: "IRANYekan-Medium";
        src: url("/fonts/IRANYekanX/IRANYekanX-Medium.woff2") format(woff2);
        font-display: swap;
    }

    @font-face {
        font-family: "IRANYekan-DemiBold";
        src: url("/fonts/IRANYekanX/IRANYekanX-DemiBold.woff2") format(woff2);
        font-display: swap;
    }

    @font-face {
        font-family: "IRANYekan-Bold";
        src: url("/fonts/IRANYekanX/IRANYekanX-Bold.woff2") format(woff2);
        font-display: swap;
    }

    /* Dana Fonts */
    @font-face {
        font-family: "Dana-Regular";
        src: url("/fonts/Dana/DanaFaNum-Regular.woff2") format(woff2);
        font-display: swap;
    }

    @font-face {
        font-family: "Dana-Medium";
        src: url("/fonts/Dana/DanaFaNum-Medium.woff2") format(woff2);
        font-display: swap;
    }

    @font-face {
        font-family: "Dana-DemiBold";
        src: url("/fonts/Dana/DanaFaNum-DemiBold.woff2") format(woff2);
        font-display: swap;
    }

    /* Morabba Fonts */
    @font-face {
        font-family: "Morabba-Light";
        src: url("/fonts/Morabba/Morabba-Light.woff2") format(woff2);
        font-display: swap;
    }

    @font-face {
        font-family: "Morabba-Medium";
        src: url("/fonts/Morabba/Morabba-Medium.woff2") format(woff2);
        font-display: swap;
    }

    @font-face {
        font-family: "Morabba-Bold";
        src: url("/fonts/Morabba/Morabba-Bold.woff2") format(woff2);
        font-display: swap;
    }
}

@theme {
    /* ---------------- Add Fonts ---------------- */
    /* IRANYekanX Fonts */
    --font-IRANYekanLight: "IRANYekan-Light";
    --font-IRANYekanRegular: "IRANYekan-Regular";
    --font-IRANYekanMedium: "IRANYekan-Medium";
    --font-IRANYekanDemiBold: "IRANYekan-DemiBold";
    --font-IRANYekanBold: "IRANYekan-Bold";

    /* Dana Fonts */
    --font-DanaRegular: "Dana-Regular";
    --font-DanaMedium: "Dana-Medium";
    --font-DanaDemiBold: "Dana-DemiBold";

    /* Morabba Fonts */
    --font-MorabbaLight: "Morabba-Light";
    --font-MorabbaMedium: "Morabba-Medium";
    --font-MorabbaBold: "Morabba-Bold";

    /* Responsive design */
    --breakpoint-2xl: initial;
}

@utility container {
    margin-inline: auto;
}
